body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5e9dc;
}

/* COVER PAGE */
.cover {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

/* PAGE */
.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

/* HIDDEN */
.hidden {
  display: none;
}

/* IMAGE */
img {
  width: 250px;
  border-radius: 10px;
  margin: 10px 0;
}
